* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

header {
    width: 100%;
    height: 113px;
    background: #24204A;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: fixed;
    top: 0;
}

.header-header {
    width: 1153px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h4 {
    color: #FFFFFF;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #E5E5E5;
}

.header-header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 63px;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.6;
}

header h4 {
    color: #E5E5E5;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.6;
}

.all {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 74px;
}

.suns {
    align-items: center;
    background-color: #071341;
}

.sun-group {
    margin-top: 50px;
    margin-right: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.holder {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    background-color: #FF6853;
    width: 176px;
    height: 56px;
    display: flex;
    border-radius: 8px;
}

.sum-img {
    margin: auto;
}

.text {
    margin-left: 18px;
}

p {
    margin-top: 8px;
    color: #8E88C1;
}

.one-position-button {
    margin-top: 85px;
    width: 145px;
    height: 41px;
    border-radius: 8px;
    color: #8E88C1;
    background-color: #4B4864;
}

.one-position {
    height: 692px;
    background: #24204A;
    box-sizing: border-box;
}

.one-position-position {
    width: 1153px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.one-position-position div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
}

.one-position-position p {
    width: 570px;
    height: 85px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    color: #8E88C1;
    line-height: 130%;
    letter-spacing: 1.5px;
}

.one-position-position h1 {
    width: 261px;
    height: 88px;
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
}

.light-block {
    margin-top: 67px;
    width: 375px;
    height: 411px;
    border-radius: 8px;
    background: #827EAC;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.light {
    width: 264px;
    height: 366px;
}

.button-about {
    width: 200px;
    height: 56px;
    border-radius: 8px;
    background: #3F50E7;
    box-shadow: 0 6px 20px 0 rgba(0, 255, 224, 0.20);
    border: none;
    color: #FFFFFF;
}

.group-center {
    background-color: #071341;
    display: flex;
    justify-content: center;
}

.group-center h3 {
    margin-top: 50px;
    width: 1074px;
    height: 126px;
    color: #FFFFFF;
    font-size: 36px;
    text-align: center;
}

.sub-text {
    background-color: #071341;
    display: flex;
    justify-content: center;
}

.sub-text h3 {
    margin-top: 50px;
    width: 545px;
    height: 24px;
    color: #8E88C1;
    font-size: 16px;
    text-align: center;
}

.suns-dark {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    background-color: #071341;
}

.sun-group-dark {
    margin-top: 50px;
    margin-bottom: 152px;
    width: 208px;
    height: 206px;
    border-radius: 8px;
    border: solid #8E88C1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sun-dark-img {
    width: 37px;
    height: 37px;
    display: table-column;
    align-items: center;
    justify-content: center;
}

.text-dark {
    width: 126px;
    padding-top: 26px;
    text-align: center;
}

.all-dark {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}


iframe {
    width: 100%;
    height: 664px;
    display: block;
}

footer {
    height: 94px;
    width: 100%;
    background: #071341;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
}
